@font-face {
  font-family: 'Muller';
  src: url('../img/MullerRegular.ttf');
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  font-family: "Muller";
}